<!-- HEADER BLOCK -->
<header id="t4-header-wrap" class="t4-header">
	<div class="t4-topbar">
		<div class="t4-topbar-left d-none d-lg-block">
			<jdoc:include type="modules" name="topbar-left" />
		</div>

		<div class="t4-topbar-right">
			<jdoc:include type="modules" name="topbar-right" />
		</div>

	</div>

  <div class="t4-header-inner">
    <div class="row no-gutters d-flex justify-content-between flex-nowrap">
      <div class="col-auto t4-logo-header mr-auto mr-lg-0">
        <jdoc:include type="element" name="logo" />
      </div>

      <div class="col-auto t4-megamenu-wrap d-lg-block col-xl-8">
        <div class="t4-navbar">
          <jdoc:include type="element" name="megamenu" />
        </div>
      </div>
      
      <div class="col-auto t4-header-right d-flex justify-content-end align-items-center">
        <div class="head-search">
          <jdoc:include type="modules" name="head-search" />
        </div>
        
        <jdoc:include type="element" name="offcanvas-toggle" />

        <jdoc:include type="element" name="megamenu-toggle" />

        <div class="head-cta">
          <jdoc:include type="modules" name="head-cta" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->